.header .search {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}
.logo {
    position: absolute;
    top: 0;
}
.scar {
    position: absolute;
    top: 10px;
    left: 200px;
    font-size: 19px;
} 